<div>
    <script>
        var Filter = {};
    </script>

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="btn-group">
                <button class="btn btn-primary btn-outline btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    <span id="filter-title">Filter</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% for f in filters %}
                        <li><a href="javascript:void(0);" onclick="loadFilter('{{ f._id.toString() }}', '{{ f.name }}');">{{ f.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="ibox-tools">
                <button class="btn btn-primary btn-outline btn-xs" type="button" onclick="saveFilterForm();">save</button>
            </div>
        </div>
        <div class="ibox-content">
            {% autoescape false %}{{ sfilter }}{% endautoescape %}
            <div class="form-group" align="right">
                <button class="btn btn-primary btn-outline" onclick="runFilter();">filter</button>
            </div>
        </div>
    </div>

    <style>
        #s-filter .ibox .open > .dropdown-menu {
            left: 0;
        }
    </style>
</div>