{% extends '../layout.html' %}

{% block title %}{{ object|title }} List{% endblock %}

{% block head %}
    {% parent %}
    <!-- use custom css, js here, if you want -->
    <script type="text/javascript" src="/admin/insp/js/plugins/pace/pace.min.js"></script>
{% endblock %}

{% block content %}
    <div id="wrapper">
        {% include "../layout/navbar.html" %}

        <div class="gray-bg" id="page-wrapper">
            {% include "../layout/topbar.html" %}
            {% include "../layout/breadcrumb.html" %}

            {#
                @TODO
                action çalıştırıldıktan sonra sayfaya döndüğümüzde seçili filtre varsa uygula
            #}

            <div class="wrapper wrapper-content">

                <div class="row">
                    <div class="col-lg-12">
                        {% include "partial/list/flash.html" %}
                    </div>
                </div>

                <div class="row">
                    <div id="s-filter" class="col-lg-3 hide">
                        {% include "../layout/filter.html" %}
                    </div>

                    <div id="s-list" class="col-lg-12">

                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Records <span id="records"></span></h5>
                            </div>
                            <div class="ibox-content">
                                {# upload dropzone #}
                                {% autoescape false %}{{ upload }}{% endautoescape %}

                                <div id="custom-toolbar">
                                    <a href="javascript:void(0);" onclick="toggleFilter();" class="btn btn-outline btn-primary">
                                        <i class="fa fa-filter"></i> filter
                                    </a>

                                    {% if opts.nested %}
                                    <a href="javascript:void(0);" onclick="nestedView();" class="btn btn-outline btn-primary">
                                        <i class="fa fa-bars"></i> nested
                                    </a>
                                    {% endif %}

                                    {% if opts.actions || opts.nodelete == false %}
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-outline dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                            <span id="filter-title">actions</span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            {% if opts.actions %}
                                                {% for a in opts.actions %}
                                                    <li><a href="javascript:void(0);" onclick="doAction('{{ a.url }}')" class="">{{ a.name }}</a></li>
                                                {% endfor %}
                                            {% endif %}

                                            {% if opts.nodelete == false %}
                                                <li><a href="javascript:void(0);" onclick="removeIds();">remove items</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    {% endif %}

                                    {% if opts.analytics %}
                                        <div class="btn-group">
                                            <button class="btn btn-primary btn-outline dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                <span id="filter-title">analytics</span> <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                {% if opts.analytics %}
                                                    {% for a in opts.analytics %}
                                                        <li><a href="javascript:void(0);" onclick="doAction('{{ a.url }}')" class="">{{ a.name }}</a></li>
                                                    {% endfor %}
                                                {% endif %}
                                            </ul>
                                        </div>
                                    {% endif %}

                                    {% if search %}
                                        <a href="/admin/o/{{ object }}/build-index" class="btn btn-outline btn-primary">
                                            <i class="fa fa-gear"></i> build index
                                        </a>
                                    {% endif %}

                                    <style>
                                        .ibox .open > .dropdown-menu {
                                            left: 0;
                                        }
                                    </style>
                                </div>

                                <!-- data-search="true" yerine table filter kullanılacak -->

                                <table
                                    id="t-{{ object }}"
                                    class="t-{{ object }}"
                                    data-toggle="table"
                                    data-url="/admin/p/{{ object }}/table"
                                    data-side-pagination="server"
                                    data-pagination="true"
                                    data-striped="true"
                                    data-cache="false"
                                    data-page-size="{% if opts.perpage %}{{ opts.perpage }}{% else %}25{% endif %}"
                                    data-page-list="[50, 75, 100]"
                                    data-show-columns="true"
                                    data-show-refresh="true"
                                    data-click-to-select="false"
                                    data-show-toggle="true"
                                    data-toolbar="#custom-toolbar"
                                    data-flat="true"
                                    data-response-handler="responseHandler"
                                    >
                                    <thead>
                                        <tr>
                                            <th data-field="state" data-checkbox="true"></th>
                                            {% for l in opts.columns %}
                                                <th
                                                    {% if props[alias[l]] %}
                                                        {% if props[alias[l]].settings.width %}data-width="{{ props[alias[l]].settings.width }}"{% endif %}
                                                        {% if props[alias[l]].settings.image %}data-formatter="imageFormatter"{% elseif props[alias[l]].pattern == 'url' %}data-formatter="urlFormatter"{% endif %}

                                                        {% if props[alias[l]].settings.square_video %}data-formatter="videoFormatter"{% endif %}
                                                        {% if props[alias[l]].settings.field == 'datetime' %}
                                                            data-formatter="dateTimeFormatter"
                                                        {% elseif props[alias[l]].settings.dateFormat %}
                                                            data-formatter="dateFormatter"    
                                                        {% endif %}
                                                    {% endif %}

                                                    data-field="{% if props[alias[l]].settings.display %}{{ l }}.{{ props[alias[l]].settings.display }}{% else %}{{ l }}{% endif %}"
                                                    data-sortable="true"
                                                    {% if l == opts.main and opts.noedit == false %}data-formatter="editFormatter"{% endif %}
                                                    >
                                                    {% if props[alias[l]].settings.label %}{{ props[alias[l]].settings.label }}{% else %}{{ l }}{% endif %}
                                                    {% if props[alias[l]].settings.field == 'datetime' && session.time %}
                                                        ({{ session.time.name }})
                                                    {% endif %}
                                                </th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                </table>

                                {% if opts.nested %}
                                    <div id="nestedtree" class="t-{{ object }}-nested hide"></div>
                                {% endif %}

                            </div>
                        </div>

                    </div> <!-- col-lg-12 -->
                </div>

            </div>

            {% include "../layout/footer.html" %}

        </div>
    </div>

    <script>
        var sFilter, sList, $table, records, object;

        $(document).ready(function() {
            // toastr override class'ları inspinia css içinde
            // #toast-container > .toast-error:before gibi
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "7000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            object  = '{{ object }}';
            object  = object.replace(/\./g,'\\.');
            sFilter = $('#s-filter');
            sList   = $('#s-list');
            $table  = $('.t-'+object).bootstrapTable();
            records = $('#records');

            var filterStatus = window.localStorage.getItem('filter:{{ object }}');

            if(filterStatus == 'true')
                openFilter();

            $('.fixed-table-toolbar').find('button').removeClass('btn-default').addClass('btn-outline btn-primary');

            $table.on('load-success.bs.table', function (e, data) {
                $('.fixed-table-pagination').find('button').addClass('btn-outline');
            });

            {% if opts.nested %}
                loadNested();
            {% endif %}
        });

        function getIds() {
            var $table  = $('.t-'+object).bootstrapTable();
            var objects = $table.bootstrapTable('getSelections');
            var ids     = [];

            for(o in objects) {
                if(objects.hasOwnProperty(o)) {
                    ids.push(objects[o]._id);
                }
            }

            return ids.length ? ids.join(',') : false;
        }

        function removeIds() {
            var ids = getIds();

            if(ids)
                window.location.href = '/admin/o/{{ object }}/remove/'+ids;
        }

        function doAction(url) {
            var ids = getIds();
            window.location.href = url+(ids ? '?ids='+ids : '');
        }

        var toString = Object.prototype.toString;

        function responseHandler(res) {
            var total = parseInt(res.total);
            if(total)
                records.html(' - '+total);

            {# populate edilen dökümanlarda display edilecek field listesini oluşturuyoruz #}
            {# display = {roles: 'name'}; gibi #}

            var display = {}, dData = {};
            {% for l in opts.columns %}
                {% if props[alias[l]].settings.display %}
                    display['{{ l }}'] = '{{ props[alias[l]].settings.display }}';
                {% endif %}
            {% endfor %}

            _.each(res.rows, function(value, key) {
                _.each(value, function(vVal, vKey) {
                    {# eğer array gelmişse ve populate edilmiş bir alan ise, o field'ın değerlerini birleştiriyoruz #}
                    {# ve table init edilirken belirtilen data-field alanını yeniden oluşturmuş oluyoruz #}
                    if(toString.call(vVal) == '[object Array]' && display[vKey]) {
                        dData[vKey] = [];

                        _.each(vVal, function(aVal, aKey) {
                            dData[vKey].push(aVal[display[vKey]]);
                        });

                        if(dData[vKey].length) {
                            res.rows[key][vKey] = {};
                            res.rows[key][vKey][display[vKey]] = dData[vKey].join(', ');
                        }
                    }
                });
            });

            return res;
        }

        function editFormatter(value, row) {
            return '<a target="_blank" href="/admin/o/{{ object }}/edit/'+row._id+'">'+value+'</a>';
        }

        function imageFormatter(value, row) {
            if( ! value )
                return '-';

            // set cdn
            value = '/i/h320-w320'+value;

            return '<img style="max-width: 320px; max-height: 320px;" src="'+value+'" /></div>';
        }

        function urlFormatter(value, row) {
            if( ! value )
                return '-';

            return '<a href="'+value+'" target="_blank">'+value+'</a> <i class="fa fa-external-link"></i>';
        }

        function videoFormatter(value, row) {
            if( ! value )
                return '-';

            return '<div style="width: 320px; height: 320px;">' +
                       '<video onclick="this.paused ? this.play() : this.pause();">' +
                            '<source src="'+value+'" type="video/mp4" />' +
                            'Your browser does not support the video tag.' +
                       '</video>' +
                   '</div>';
        }

        function dateFormatter(value, row) {
            if( ! value )
                return '-';
            
            return moment(value).utc().format("DD/MM/YYYY");
        }

        function dateTimeFormatter(value, row) {
            if( ! value )
                return '-';

            var mParsed = moment(value);
            {% if session.time %}mParsed = mParsed.tz('{{ session.time.name }}');{% endif %}
            return mParsed.format("DD/MM/YYYY HH:mm:ss");
        }
        
        function openFilter() {
            sList.removeClass('col-lg-12').addClass('col-lg-9');
            sFilter.removeClass('hide').addClass('animated').addClass('fadeInLeft');
            window.localStorage.setItem('filter:{{ object }}', true);
        }

        function closeFilter() {
            sList.removeClass('col-lg-9').addClass('col-lg-12');
            sFilter.addClass('hide');
            window.localStorage.setItem('filter:{{ object }}', false);
        }

        function toggleFilter() {
            var filter = sFilter.css('display');
            (filter == 'none') ? openFilter() : closeFilter();
        }

        function encodeFilter(get) {
            var filters    = [];
            var filtersKey = [];

            _.each(Filter, function(value, key) {
                var val = _.str.trim(value.field.val());

                if(val) {
                    var opts = value.opts.find('.active .f-elem').data('value');

                    if(get != 'key' && ['exact', 'contains'].indexOf(opts) != -1 )
                        val = (opts == 'exact') ? val : '{:like:}'+val;

                    if(get != 'key' &&  ['is', 'not'].indexOf(opts) != -1 )
                        val = (opts == 'is') ? val : '{ne}'+val;

                    if(opts) {
                        filters.push(value.name+'='+val);
                        filtersKey.push(value.key+'='+val);
                    }
                }
            });

            if(get == 'key' && filtersKey.length)
                return Base64.encode( filtersKey.join('&') );

            if(filters.length)
                return Base64.encode( filters.join('&') );

            return false;
        }

        function runFilter() {
            var filters = encodeFilter();

            if(filters) {
                $table.bootstrapTable('refresh', {
                    url: '/admin/p/{{ object }}/table?filter='+filters
                });
            }
        }

        function saveFilterForm() {
            var filters = encodeFilter('key');

            if(filters) {
                $('#filter-encoded').val(filters);
                $('#filter-modal').modal('show');
            }
            else
                toastr.info('', 'USE A FILTER!')
        }

        var filterXhr;
        function saveFilter() {
            if(filterXhr)
                filterXhr.abort();

            filterXhr = $.ajax({
                type: 'POST',
                url: '/admin/f/{{ object }}',
                data: {
                    name: $('#filter-name').val(),
                    object: $('#filter-object').val(),
                    filter: $('#filter-encoded').val()
                }
            })
            .done(function(resp) {
                if(resp.err) {
                    toastr.error('', 'ERROR!');
                    console.log(resp.detail);
                }
                else {
                    toastr.info('', 'FILTER SAVED!');
                    $('#filter-modal').modal('hide');
                    window.location.reload();
                }
            });
        }

        var loadFilterXhr;
        function loadFilter(id, title) {
            if(loadFilterXhr)
                loadFilterXhr.abort();

            loadFilterXhr = $.ajax({
                type: 'GET',
                url: '/admin/f/{{ object }}/'+id
            })
            .done(function(resp) {
                sFilter.html(resp);
                $('#filter-title').html(title);
                runFilter();
            });
        }

        function nestedView() {
            var $table  = $('.fixed-table-container');
            var $nested = $('.t-'+object+'-nested');

            var view = $table.css('display');
            if(view == 'none')  {
                $table.removeClass('hide');
                $nested.addClass('hide');
            }
            else {
                $table.addClass('hide');
                $nested.removeClass('hide');
            }
        }

        function loadNested() {
            $('#nestedtree').jstree({
                core: {
                    themes: {stripes: true},
                    data: {
                        url: function (node) {
                            return node.id === '#' ?
                                '/admin/o/{{ object }}/nested' :
                                '/admin/o/{{ object }}/nested?parentId='+node.id;
                        },
                        data : function (node) {
                            return {id : node._id};
                        }
                    },
                    check_callback : function (op, node, par, pos, more) {
                        return true;
                    }
                },
                plugins : ['dnd']
            })
            .on('move_node.jstree', function (e, data) {
                if(data.parent == '#')
                    return;

                var id = data.node.id;
                var dt = {};

                if((data.parent != data.old_parent) || (data.position != data.old_position)) {
                    if(data.parent != data.old_parent) {
                        if(data.parent == 'root')
                            dt.parentId = 'root';
                        else
                            dt.parentId = data.parent;
                    }

                    var count    = 0;
                    var children = data.instance.get_node(data.parent).children;

                    children.forEach(function(v, i) {
                        var put = {order: i+1};
                        if(v == id && dt.parentId)
                            put.parentId = dt.parentId;

                        $.ajax({
                            type: 'PUT',
                            url: '/admin/o/{{ object }}/nested/'+v,
                            data: put
                        })
                        .done(function(resp) {
                            count++;
                            if(count == children.length)
                                $table.bootstrapTable('refresh');
                        });
                    });


                }
            });
        }

    </script>

    <div class="modal inmodal" id="filter-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-filter modal-icon"></i>
                    <h4 class="modal-title">Save Filter</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input id="filter-name" type="text" name="name" placeholder="Filter Name" class="form-control">
                        <input id="filter-object" type="hidden" name="object" value="{{ object }}" />
                        <input id="filter-encoded" type="hidden" name="filter" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveFilter();">Save</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

