<div class="f-number form-group">
    <label for="f-{{ key }}">{{ field.settings.label }}</label>
    <div class="f-number-wrap">
        <input name="{{key}}" id="f-{{ key }}" type="number" class="form-control {% if opts.filter %}input-sm{% endif %}" />
        {% include "../filter/text.html" %}
    </div>
</div>

<script>
    $(document).ready(function() {
        {% if opts.filter %}
        Filter['{{ key }}'] = {
            key   : '{{ key }}',
            name  : '{{ field.alias }}',
            type  : 'number',
            opts  : $('.f-{{ key }}-opts'),
            field : $('#f-{{ key }}')
        };
        {% endif %}
    });
</script>