{% import '../../macro/depends.html' as m_depends %}

<div id="field-{{ field.alias }}" class="f-select form-group">
    <label for="f-{{ key }}">{{ field.settings.label }}</label>
    <div class="f-select-wrap">
        {% set values = field.settings.options|default(field.eq) %}

        <select name="{{ key }}" id="f-{{ key }}" class="f-{{ key }} form-control {% if opts.filter %}input-sm{% endif %}" {% if field.type == 'array' %}multiple{% endif %}>
            <option value=""></option>

            {% for key, val in values %}

                {# set value #}
                {% set value = val %}
                {% if val.value %} {% set value = val.value %} {% endif %}

                {# set label #}
                {% set label = val %}
                {% if val.label %} {% set label = val.label %} {% endif %}

                {# set selected status #}
                {% set selected = "" %}

                {% if field.type == 'array' %}
                    {% set data = data|split(',') %}

                    {% for d in data %}
                        {% if d == value %}
                            {% set selected = "selected" %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if data == value %}
                        {% set selected = "selected" %}
                    {% endif %}
                {% endif %}

                <option {{ selected }} value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>

        {% include "../filter/select.html" %}
    </div>
</div>

<script>
$(function() {
    if ($.fn.select2) {
        $('.f-{{ key }}').select2({
            allowClear: true,
            placeholder: 'Select'
        }).on('change', function(e) {
            /*
            $('#f-{{ key }} option').removeAttr('selected');
            if(e.val && e.val != '') {
                $('#f-{{ key }} option[value='+e.val+']').attr('selected', 'selected');
            }
            */
        });
    }
    
    {% if opts.filter %}
        setFilter(Filter, '{{ key }}', '{{ field.alias }}', 'select');
    {% else %}
        {{ m_depends.depends(field.depends, field.alias) }}
    {% endif %}
});
</script>
