{% import '../../macro/depends.html' as m_depends %}

{% set inputName = key %}

{% if parent.field %}
    {% set inputName = parent.field+'['+parent.index+']['+key+']' %}
{% endif %}

<div id="field-{{ field.alias }}{{ parent.index }}" class="f-text form-group">
    <label for="f-{{ key }}{{ parent.index }}">{{ field.settings.label }}</label>
    <div class="f-text-wrap">
        <input name="{{ inputName }}" id="f-{{ key }}{{ parent.index }}" type="text" class="form-control {% if opts.filter %}input-sm{% endif %}" placeholder="{{ field.settings.label }}" value="{% if data %}{{ data }}{% endif %}">
        {% include "../filter/text.html" %}
    </div>
</div>

<script>
$(function() {
    {% if opts.filter %}
        setFilter(Filter, '{{ key }}', '{{ field.alias }}', 'text');
    {% else %}
        {{ m_depends.depends(field.depends, field.alias) }}
    {% endif %}
});
</script>


