<div class="f-textarea form-group">
    <label for="f-{{ key }}">{{ field.settings.label }}</label>
    <div class="f-textarea-wrap">
        <textarea name="{{ key }}" id="f-{{ key }}" class="form-control {% if opts.filter %}input-sm{% endif %}" rows="{{ field.settings.rows|default(8) }}">{% if data %}{{data}}{% endif %}</textarea>
        {% include "../filter/text.html" %}
    </div>
</div>

<script>
    $(document).ready(function() {
        {% if opts.filter %}
        Filter['{{ key }}'] = {
            key   : '{{ key }}',
            name  : '{{ field.alias }}',
            type  : 'textarea',
            opts  : $('.f-{{ key }}-opts'),
            field : $('#f-{{ key }}')
        };
        {% endif %}
    });
</script>
