<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>File Manager</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/admin">Home</a>
            </li>
            {% if session.app && object != 'system.apps' %}
            <li>
                {{ session.app.long }}
            </li>
            {% endif %}
            <li>
                File Manager
            </li>
        </ol>
    </div>

    <div class="col-lg-3"></div>
</div>


